
/* modified spinning logo */
.app-logo {
  animation: App-logo-spin infinite 10s linear;
  width: 8vmin;
  pointer-events: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* neutral bg */
.bg-blue-grey {
  background: #eceff1;
}